<div class="navbar">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Björnens</a>
    <div class="nav-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav pull-right">
        <li class="active"><a href="#">Hem</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tjänster <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <div class="col-lg-4">
              <li>Trädgård</li>
              <li><a href="#">Saft</a></li>
            </div>
            <div class="col-lg-4">1</div>
            <div class="col-lg-4">1</div>
          </ul>
        </li>
        <li><a href="#">Om oss</a></li>
        <li><a href="#">Kontakt</a></li>
      </ul>
    </div><!-- /.nav-collapse -->
  </div><!-- /.container -->
</div>